<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net48" />
  <package id="Jdenticon.Gdi" version="2.2.1" targetFramework="net40" requireReinstallation="true" />
  <package id="Jdenticon-net" version="2.2.1" targetFramework="net40" requireReinstallation="true" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net40" />
  <package id="SevenZipSharp" version="0.64" targetFramework="net40" />
</packages>